.business_name{
    font-size: 20px;
    margin: 0 0 0.5em;
    top: 0;
}
.blog_poster{
    display: flex;
    flex-direction: column; 
    font-size: 28px;
    width: 96%;
    overflow: hidden;
    height: 341px;
    padding-bottom: 0px;
    box-shadow: 5px 1px 24px hsl(0deg 5% 15% / 20%);
}

.image_style{
    width: 100%;
    height: 100%;
    border-bottom-color: rgb(113, 122, 143);
}

.img_box{
    width: 100%;
    position: relative;
    border: 3.5px solid blue;
    overflow: hidden;
    height: 100%;
}

.content{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 6;
    display: flex;
    flex-direction: column;
    color: white;
    font-weight: 800;
    width: 100%;
    height: 100%;
    padding: 0 30px;
    background-color: hsl(0deg 0% 0% / 50%);
    cursor: pointer;
    box-sizing: border-box;
}

.city{
    padding: 12px 0 14px 0px;
}

.like_container{
    position: relative;
    height: 62px;
}
.like_icon{
    margin-left: 510px;
    top: 23px;
    right: 0px;
    position: absolute;
    display: flex;
    background-color: hsl(0 0% 0% / 0.5);
    border-radius: 32px;
    padding: 12px 20px;
}
.rate_box{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 21px 30px 21px 30px;
    box-sizing: border-box;
}

.star-icon {
    font-size: 24px;
    color: #e2d305;
    /* Add any other styles you want */
  }
  
  .heart-icon{
  color: #fff;
  font-size: 34px;
  }

.business_logo{
    width: 85px;
    height: 85px;
    background-color: #000;
    position: absolute;
    right: 30px;
    top: -42px;
    z-index: 6;
    border-radius: 50%;
    border: 4px solid #fff;
  }