.business_list_section{
    text-align: center;
    width: 100%;
    height: 51px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}


.business_list{
    background-color: rgb(55, 213, 242);
    padding: 10px 418px;
    margin-top: -164px;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 7px;
    width: 11%;
}

.business_content_list{
    text-align: center;
    color: #000;
    font-size: 11px;
    position: relative;
    font-weight: 750;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.content_container{
    padding: 30px 51px;
}

.img_box1{
    height: 396px;
    width: 100%;
    object-fit: cover;
}

.blog_section{
    box-shadow: #000;
}