.hotel_search_section{
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hotel_search_section_title{
    font-family: Karla, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgb(113, 122, 143);
    padding: 94px 0 0px 0;
    font-size: 49px;
    font-weight: 400;
    margin-bottom: 0px;
    text-align: center;
}

.searching_container{
    display: flex;
    flex-direction: column;
    width: 42%;
    margin-top: 44px;
    padding: 0px 28px 37px 28px;
    border: 3px solid rgb(113 122 143 / 21%);
}

.searching_container_title{
    color: #000;
    font-weight: 800;
    text-align: left;
    padding: 23px 0;
    font-size: 37px;
    word-spacing: -1px;
}

.going_to_button{
    text-align: left;
    background-color: white;
    color: rgb(113, 122, 143);
    padding: 25px 27px;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
}

.check_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 37px 0;
}

.check_in,
 .check_out{
    color: rgb(113, 122, 143);
    padding: 29px 27px;
    border-radius: 8px;
    text-align: left;
    width: 49%;
    background-color: white;
}

.bland_search_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 30px;
}

.hotel_bland{
    color: rgb(113, 122, 143);
    font-size: 34px;
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
}
.bland_title{
    font-size: 18px;
}

.hotle_text_color{
    color: #000;
    font-size: 35px;
}

.bland_span_container{
    display: flex;
    flex-direction: column;
}

#search_box{
    background-color: #2A78C7;
    padding: 23px 0px;
    border-radius: 51px;
    width: 27%;
    font-weight: 600;
    color: white;
    font-size: 24px;
}

.map_icon{
    font-size: 23px;
    color: #000;
    margin-right: 21px;
}

.calend_icon{
    color: #000;
    margin-right: 21px;  
    font-size: 23px;
}

.list_company_section{
  display: flex;
  
}

.litter_link{
    font-size: 13px;
    font-weight: 750;
}