.start_busines_option{
    font-family: Karla, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgb(113, 122, 143);
    padding: 94px 0 88px 0;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
}

