.footer_main_section{
    height: 100%;
    width: 100%;
    margin-top: 79px;
    background-color: #2854a1;
    display: flex;
    flex-direction: column;
    color: rgb(167, 169, 173);
}

.website_short_inf{
    display: flex;
    flex-direction: row;
    gap: 245px;
    padding: 107px 28px;
    color: rgb(178, 179, 183);

}

.resources{
    display: flex;
    flex-direction: column;
}

.blog_shortcut{
display: flex;
flex-direction: column;
}

.about_web_title,
.blog_shortcut_title,
.resource_title{
   color: rgb(227, 230, 236);
   font-size: 37px;
   font-weight: 500;
   padding-bottom: 30px;
}

.footer_text
{
    padding-bottom: 26px;
}

.description{
    background-color: #22498e;
    padding: 17px 431px;
}