*{
    font-family: "Karla","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.header{
    width: 100%;
    justify-content: space-between;
    text-align: center;
    margin: 0 5rem;
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
    display: flex;
   
    padding: 2rem;
    background-color: rgb(73, 73, 181);
}
.logo{
    font-size: 40px;
    font-weight: 800;
    color: white;        
}

.header-list {
    
    font-weight: 500;
    line-height: 25px;
    text-transform: capitalize;
    display: flex;
    text-align: center;
    margin: 0 5rem;
    cursor: pointer;

    font-size: 100%;
    padding: 18px 0;
    
  
}
.header p,
.header-list p
{
margin: 0 1rem;
}
@media screen and (max-width: 500px){
    .logo
    {
        
        font-size: 25px;
        
    }
    .header{
        height: 90px;
        display: flex;
    }
    .header-list p{
        font-size: 20px;
    }
}




   /* Style the dropdown container */
   .dropdown {
    position: relative;
    display: inline-block;
}

/* Style the button */
.dropdown-button {
    color: white;
    border: none;
    cursor: pointer;
    font-size: 24px;
}

/* Style the dropdown menu (initially hidden) */
.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 320px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-right: 50px;
    border-radius: 3px;
    font-size: 13px;
    text-align: start;
}

/* Style the dropdown items */
.dropdown-menu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color on hover */
.dropdown-menu a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu when the button is hovered over */
.dropdown:hover .dropdown-menu {
    display: block;
}