.list_company_section{
    padding: 136px 0;
    margin-top: 174px;
    display: flex;
    justify-content: center;
    background-color: #f2f2f2;
}
.list_content_container{
    width: 1690.67px;
    display: flex;
    justify-content: space-between;
}

.company_section_title{
    font-family: Karla, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgb(113, 122, 143);
    padding: 94px 0 0px 0;
    font-size: 39px;
    font-weight: 300;
    text-transform: capitalize;
    margin-bottom: 0px;
    text-align: center;
}

.list_company_text{
    color: rgb(113, 122, 143);
    line-height: 2;
    font-weight: 500;
    padding: 20px 109px 0 0;
}

.list_company_button{    
    padding: 30px 38px;
    width: 100%;
    background-color: #2c2ca6;
    color: white;
    font-size: 22px;
    border-radius: 6px;
}

.list_company_action{
    width: 28%;
}

