*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.body{
background-color: white;
color: green;
}

 a {
 text-decoration: none;
 color: white;
}

.app__padding{
    padding: 4rem 6rem;
}

.section__margin{
    margin: 4rem 6rem;
}

@media screen and (max-width: 700px){
    .app__padding,
    .app__margin
    {
        padding: 4rem;
    }
}
@media screen and (max-width: 700px){
    .app__padding,
    .app__margin
    {
        padding: 4rem 2rem;
    }
}